In [49]:
print("Hello World")

Hello World

In [50]:
print('Hello World') # interpreter k liye dono hi same he

Hello World

In [51]:
# no need to mention variable explicitly compiler understands it by itself
# variable declaration
a = 34
type(a)

int

In [52]:
print(type(a))

<class 'int'>

In [53]:
# variable name cant start with number 
# 1d = "meet" 

one_d = "meet"
type(one_d)

str

In [54]:
# floating 
a = 1092.2
print(type(a))

<class 'float'>

In [55]:
# typecasting in python 
print(int(a))

c = 3.3243
print(int(c))

d = 24343
print(float(d))

1092
3
24343.0

In [56]:
# boolean 
a1 =  True 
a2 = False 

type(a2)

bool

In [57]:
print(a1 and a2)
print(a1 & a2) # AND operator
print(a1 | a2) #OR operator

False
False
True

In [58]:
# 0 and 0 = 0 
# 0 and 1 = 0  
# 1 and 0 = 0 
# 1 and 1 = 1 

# 0 or 0 = 0 
# 0 or 1 = 1 
# 1 or 0 = 1 
# 1 or 1 = 1

In [59]:
v = 5 #0101
d = 3 #0011
result = v & d #0001
print(result)

1

In [60]:
s = 5 #0101
t = 3 #0011
result = s | t # 0111
print(result)

# | and & are bitwise OR and AND operators

7

In [61]:
# complex numbers 
j = 1-2.3j
print(type(j))
# 1.0 is the real number and 2.3j is real number

<class 'complex'>

In [62]:
# Dynamic typing 
# let us say i declared
f = 90
print(f) 

# i changed the variable value 
f = "meet"
print(f)

# this is dynamic typing

90
meet

In [63]:
# strong typing 
a = "meet"
a + "1"
# string + string concatenation allowed 

# but not allowed in the case of string + int
a = "meet"
a + 1

TypeError: can only concatenate str (not "int") to str

In [64]:
a + str(1)
# convert it to string first

'meet1'

In [65]:
# string formatting 
a = "meet"
print("My name is ",a)

My name is  meet

In [66]:
#. format()
emp_name = "MeetSudra"
dept = "Finance"
print("The employee's name from {} department is {}".format(dept,emp_name))

The employee's name from Finance department is MeetSudra