In [16]:
def is_even(i):
    """returns if a given number is even or odd
    input - valid integer
    output - odd/even
    created on - 21 Dec 2024
    """
    if type(i) == int:
        if i % 2 == 0:
            return 'even'
        else:
            return 'odd'
    else:
        print('Bavda ho gaya he k')
is_even(23)

'odd'

In [18]:
print(is_even.__doc__)

returns if a given number is even or odd
    input - valid integer
    output - odd/even
    created on - 21 Dec 2024

In [19]:
for num in range(1,11):
    print(num,is_even(num))

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even

In [20]:
is_even('one')

Bavda ho gaya he k

While creating a function, (i) is a parameter 
whereas call karte time value passed is arguement 

tv remote brightness is a parameter whereas the value is arguement

In [21]:
# Types of Arguements 

# 1. Default arguement 
def power(a,b):
    return a**b

power(2,4)

16

In [22]:
def power(a=2,b=4):
    return a**b

power() # code fatega nai since it already has default values to parameter

16

In [23]:
# 2.Positional Arguement 
power(2,3)

# 1st arguement meets the first parameter with second meeting the 2nd parameter

8

In [24]:
# 3.Keyword Arguement
power(b=3,a=2) # yaha positional nai kam karega 
# when udk the position of the parameter u use keyword positioning

8

In [25]:
# *args and **kwargs are special python keywords that are used to pass the variable length of arguements to a function

In [26]:
# *args allows us to pass a variable number of non-keyword arguements to a function.

In [27]:
def multiply(a,b,c): # what if udont know the number of inputs to be multiplied, here u use *args 
    return a*b*c 

multiply(3,4,5)

60

In [28]:
def multiply(*args): # variable args idk kitne he jitne he sab 
    mult = 1
    for i in args:
        mult = mult * i 

    print(args)
    return mult

multiply(3,2,4,4,5,4,3,6)

(3, 2, 4, 4, 5, 4, 3, 6)

34560

tuple me store kardeta he variables ko and then loop is executed  on it 

print works ese hi

In [30]:
print(print.__doc__)

Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.

In [35]:
# **kwargs 
# It allows us to pass any number of keyword arguements.
# Keyword arguements mean that they contain a key-value pair like a python dictionary 


def display(**kwargs):
    for (key,value) in kwargs.items():
        print(key,'-',value)

display(India='Delhi',SriLanka='Colombo',Nepal='Katmandu',Pakistan='Islamabad')

India - Delhi
SriLanka - Colombo
Nepal - Katmandu
Pakistan - Islamabad

In [ ]:
# Points to remember 
# 1. order of the arguements matter(normal->*args,**kwargs)

# Memory of function
A function in it which demands an independent space and destroys after its execution

Ram in my system = city
A function created = My house 
Function called with some arguement = Room in my house

Function is active only when it is called and untill it returns its output.
The lifespan of variables in the function called remains in the ram untill the function returns output and then it is destroyed automatically from the space

In [3]:
def is_even(i):
    if i % 2==0:
        print('even')
    else:
        print('odd')

is_even(7)

# if function does not have return it retuns Null value to the print(is_even(7))

odd

In [5]:
L = [1,2,3]
print(L.append(4))
L

None

[1, 2, 3, 4]

In [7]:
# GLOBAL VERSES LOCAL VARIABLE

def g(y):
    print(x)
    print(x+1)
x=5
g(x)
print(x)

5
6
5

In [8]:
def f(y):
    x = 1
    x += 1
    print(x)
x=5
f(x)
print(x)

2
5

In [10]:
def h(y):
    x+=1
x=5
h(x)
print(x)

# local cannot modify the value of global variable

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [4]:
# global keyword k through modification kar sakte he but this is less prefered 
def h(y):
    global x
    x+=1
x=5

print(h(x))
print(x)

None
6

In [5]:
def f(x):
    x = x + 1
    print('in f(x):x=',x)
    return x
x = 3
z = f(x)
print('in main program scope: z=',z)
print('in main program scope: x=',x)

in f(x):x= 4
in main program scope: z= 4
in main program scope: x= 3

# NESTED FUNCTIONS

In [10]:
def f():
    def g():
        print('inside function g')
    g()
    print('inside function f')

f()

inside function g
inside function f

In [14]:
def g(x):
    def h():
        x = 'abc'
    x = x + 1
    print('in g(x): x =',x)
    h()
    return x

x = 3
z = g(x)

in g(x): x = 4

In [15]:
def g(x):
    def h(x):
        x = x+1
        print("in h(x): x = ",x)
    x = x + 1
    print('in g(x): x =',x)
    h(x)
    return x

x = 3
z = g(x)
print('in main program scope: x =',x)
print('in main program scope: z =',z)

in g(x): x = 4
in h(x): x =  5
in main program scope: x = 3
in main program scope: z = 4

In [30]:
# Functions are 1st class citizens 
# datatypes k tarah sab kam karta he ye 
def square(num):
    return num**2

print(type(square))
print(id(square))
a = 2
print(type(a))
print(id(a))

<class 'function'>
4688870304
<class 'int'>
4398488680

In [31]:
# reassign
x = square # rename kardiya basically
print(id(x)) # id(square)
print(x(3))

4688870304
9

In [33]:
# deleting a function
# del square

In [35]:
# storing 
L = [1,2,3,4,square]
L

[1, 2, 3, 4, <function __main__.square(num)>]

In [37]:
L[-1](3)

9

In [39]:
s = {square}
s # sets do not store mutable types in it 
# Thus functions are immutable

{<function __main__.square(num)>}

In [42]:
# returning a function 
def f():                # 1 # 3
    def x(a,b):         # 4 naya child function define hua      # 6
        return a+b      # 7
    return x            # 5 x return karega jo ek function he means x call hua # val =f()(3,4) --> val = x(3,4)      basically when f() is called, it returns the function x
val = f()(3,4)          # 2 f() call hua # 8 val = 7
print(val)             # 9 print(7)

7

In [49]:
# function as a arguement 

def func_a():
    print('inside func_a')

def func_b(z):
    print('inside func_b')
    return z() 

print(func_b(func_a)) # func_a is basically c

inside func_b
inside func_a
None

# BENEFITS OF USING A FUNCTION 
Code Modularity 

Code Readability 

Code Reusability

In [50]:
# Modularity means login ka code alag 
# payment ka alag # kuch issue login me aye toh login ka code debug karo

# Lambda functions

In [51]:
# A lambda function is a small anonymous function 
# A lambda function can take any number of arguements, but can only have one expression

In [ ]:
# lambda a,b: a+b
# keyw  para  expression

In [55]:
# square function

y = lambda x:x**2
y(3)

9

In [57]:
# sum function

z = lambda a,b:a+b
z(10,20)

30

In [58]:
# DIFFERENCE BETWEEN NORMAL AND LAMBDA

# Has no Name

# Lambda function returns whole function 
# Normal function returns None

# Lambda functions are not reusable

In [61]:
# They are used with Higher order functions 
string = lambda x:'a' in x
string('My name is Meet')

True

In [64]:
# Odd or even 
num = lambda x:'even' if x%2==0 else 'odd'
num(35)

'odd'

# Higher Order Function 
Those function which returns a function or 

a function which takes input of function

In [70]:
def square(x):
    return x**2

def cube(y):
    return y**3 # kitne ese banaunga mee thus lambda function comes into picture 

def transform(f,L): #HOF input me function mil raha 
    output = []
    for i in L:
        output.append(f(i))
    print(output)

transform(square,[1,2,3,4])

[1, 4, 9, 16]

In [73]:
print(transform(lambda x:x**4,[1,2,3,4]))
print(transform(lambda x:x**2,[1,2,3,4]))
print(transform(lambda x:x**3,[1,2,3,4]))

[1, 16, 81, 256]
None
[1, 4, 9, 16]
None
[1, 8, 27, 64]
None

# MAP FUNCTION
Map returns a new list from the given list using lambda function

In [8]:
# MAP function 
# It expects a lambda and iterable (LIST)
a = map(lambda x:x**2,[1,2,3,4])
list(a)

# odd/even labelling of list items 
L = [1,2,3,4]
b = map(lambda x:'even' if x%2 == 0 else 'odd',L)
list(b)

['odd', 'even', 'odd', 'even']

In [9]:
# extract name of all the users 

users = [
    {
        'name':'Meet',
        'age':45,
        'gender':'male'
    },
    {
        'name':'Heet',
        'age':15,
        'gender':'male'
    },
    {
        'name':'Jeet',
        'age':35,
        'gender':'male'
    },
]

c = map(lambda users:users['name'],users )
list(c)

['Meet', 'Heet', 'Jeet']

# FILTER FUNCTION
List me se filtering on the basis of some condition(lambda)

In [12]:
# numbers greater than 5 
L = [1,2,4,3,5,4,6,4,6,7,4,3]
list(filter(lambda x:x>=5,L))

[5, 6, 6, 7]

In [14]:
# fetch fruits staring with 'a'
fruits = ['apple','guava','cherry','banana']
list(filter(lambda x : x.startswith('a'),fruits))

['apple']

# REDUCE

In [18]:
# sum of all the items in the list 
import functools
functools.reduce(lambda x,y:x+y,[1,23,4,3,2,34])

67

In [24]:
# find min 
L = [2,1,3,5,4,2,4,5,4,6]
functools.reduce(lambda x,y:x if x<y else y,L)

1