# ADDITION ARITHMETIC OPERATOR

In [2]:
x = 5
y = 3 

x + y

8

In [3]:
4 + 5.3j

(4+5.3j)

In [4]:
'hello' + ' ' +'world'

'hello world'

In [5]:
4 + True # True = 1

5

In [6]:
4 + False

4

In [7]:
[1,2,3,4] + [3,4,2] # lists can be concatenate

[1, 2, 3, 4, 3, 4, 2]

In [8]:
(1,2,4) + (3,4,5,3,2)

(1, 2, 4, 3, 4, 5, 3, 2)

Addition is a arithmetic operator that adds int,float,complex and boolean values  and concatenates variables 

It concatenates lists and tuples except of dictionary and sets

In [9]:
# {'1':'3','2':'3'} + {'a':5,'d':6} # nor dict can concatenate
# {1,2,3,} + {3,4,5} # sets cant

# SUBSTRACTION ARITHEMATIC OPERATOR

In [10]:
3.2 - 42

-38.8

In [11]:
3 - 6.5j

(3-6.5j)

In [12]:
3 - True

2

In [13]:
{2,3,4}-{1,2,3} # RETURNS ELEMENTS OF 1SET WHICH ARE NOT PRESENT IN THE SECOND SET

{4}

substraction works on set and not on other multiple datatypes

# MULTIPLICATION ARITHEMATIC OPERATOR

In [14]:
x*y

15

In [15]:
3 * 2

6

In [16]:
'hello'*3

'hellohellohello'

In [17]:
34.j * 4

136j

In [18]:
23.2 * 23.2

538.24

In [19]:
[2,4,9,3] * 3

[2, 4, 9, 3, 2, 4, 9, 3, 2, 4, 9, 3]

In [20]:
(2,3,4,9,3,3) * 3

(2, 3, 4, 9, 3, 3, 2, 3, 4, 9, 3, 3, 2, 3, 4, 9, 3, 3)

Multiplication works sets and tuples but not on sets  and dictionaries

# DIVISION ARITHEMATIC OPERATOR

In [21]:
x/y # True division / normal division

1.6666666666666667

In [22]:
x//y # Integer division / floor division

1

In [23]:
(2.23 + 43j) / 2

(1.115+21.5j)

In [24]:
# (2.23 + 43j) // 2 throws error

In [25]:
x % y # modulus  divide karne par what you get is modulus

2

# POWER ARITHEMATIC OPERATOR

In [26]:
2 ** 3

8

In [27]:
33.234 ** 3

36706.911656904005

In [28]:
True ** False

1

In [29]:
False ** True

0

# RELATIONAL OPERATORS

In [30]:
3 == 3

True

In [31]:
'Hello' == 'hello'

False

In [32]:
0 == False

True

In [33]:
[2,3,2,1] == [2,3,2,1]

True

In [34]:
3 !=  2

True

In [35]:
'Hello' != 'hello'

True

In [36]:
print(3 > 1)
print(3 < 1)
print(3 != 1)

True
False
True

In [37]:
[1,2,3 ]>[1,2,3 ]

False

In [38]:
[2,3,4]>[2,3,6]

False

In [39]:
[2,3,5]>[1,4,5]
# here since 2 > 1 is true python stops for looking other elements in the list

True

This is lexicographical comparison 
where python checks every corresponding values from the lists

[1,2,3]>[1,2,3] 

if 1 == 1 , it moves to 2nd element , if 2 == 2 , then it moves to 3rd , if 3 == 3

then python returns False

In [40]:
(2,3,5)>(1,4,5)

True

In [41]:
[2,3,4]>[2,3,6]

False

In [42]:
# there are following operators in Relational/Comparison operators
# < , > , == , != , <= , >= ,

# LOGICAL and BITWISE OPERATORS

AND OR NOT - Logical

& | - bitwise

In [69]:
x = True
y = False

In [70]:
print(bin(2))
print(bin(342)) # bin() function returns the binary value of the number

0b10
0b101010110

BItwise operator works in the following way 
 
2 & 3 
it will look at bitwise number of both the numbers and apply and operator on it 

if the number is 

001 and 011  

0 and 0 is 0 false

0 and 1 is 0 false

1 and 1 is 1 true 

it will return number corresponding to 
001

In [71]:
print(bin(3))
print(bin(2)) # in 2 bits for 8 bits it is 00000010
print(bin(3)+' '+'&'+' '+bin(2))
3 & 2

0b11
0b10
0b11 & 0b10

2

In [64]:
print(bin(345))
print(bin(234))
345 & 234

0b101011001
0b11101010

72

In [73]:
2 | 3
# 10  or 11 it is 11(3)

3

In [74]:
print(bin(345))
print(bin(234))
345 | 234

0b101011001
0b11101010

507

In [75]:
print(x and y)
print(y and y )
print(x and x)
print('\n')

print(x & y) # & bitwise operator
print(y & y)
print(x & x )

False
False
True


False
False
True

In [76]:
print(x or y)
print(y or y )
print(x or x)

True
False
True

In [77]:
print(not x)
print(not y)

False
True

In [68]:
print(not 3>2)

False

In [62]:
3>2 and 1<0

False

# ASSIGNMENT OPERATOR

it assigns value to a variable

In [110]:
a = 3

In [111]:
a = a + 3 # 3 + 3 = 6
a += 3    # 6 + 3 = 9

In [112]:
a -= 3
a

6

In [113]:
a /= 3 # a = 6/3 = 2
a

2.0

# MEMBERSHIP OPERATOR
IN 

NOT IN

In [115]:
# it retuns a boolean value

3 in (2,3,2,4)

True

In [116]:
3 in[24,3,2,4]

True

In [120]:
print(type({})) # empyt set is considered as the dict by the compiler
None in {}

<class 'dict'>

False

In [121]:
[2,3,4] in [[2,3,4],[2,9,43,94,44]]

True

In [123]:
[2,3,4] not in [[2,3,4,9,43,94,44]]

True

# IDENTITY OPERATOR 
IS 

IS NOT

In [128]:
x,y = 10,10
x is y

True

In [129]:
a = [1,2,3,2]
b = (1,2,3,2)

a is b

False

In [132]:
a is None # throws warning if "is" is used with integer

False