# ADDITION ARITHMETIC OPERATOR

In [33]:
x = 5
y = 3 

x + y

8

In [39]:
4 + 5.3j

(4+5.3j)

In [40]:
'hello' + ' ' +'world'

'hello world'

In [41]:
4 + True # True = 1

5

In [21]:
4 + False

4

In [24]:
[1,2,3,4] + [3,4,2] # lists can be concatenate

[1, 2, 3, 4, 3, 4, 2]

In [25]:
(1,2,4) + (3,4,5,3,2)

(1, 2, 4, 3, 4, 5, 3, 2)

Addition is a arithmetic operator that adds int,float,complex and boolean values  and concatenates variables 

It concatenates lists and tuples except of dictionary and sets

In [31]:
# {'1':'3','2':'3'} + {'a':5,'d':6} # nor dict can concatenate
# {1,2,3,} + {3,4,5} # sets cant

# SUBSTRACTION ARITHEMATIC OPERATOR

In [49]:
3.2 - 42

-38.8

In [51]:
3 - 6.5j

(3-6.5j)

In [52]:
3 - True

2

In [54]:
{2,3,4}-{1,2,3} # RETURNS ELEMENTS OF 1SET WHICH ARE NOT PRESENT IN THE SECOND SET

{4}

substraction works on set and not on other multiple datatypes

# MULTIPLICATION ARITHEMATIC OPERATOR

In [36]:
x*y

15

In [55]:
3 * 2

6

In [56]:
'hello'*3

'hellohellohello'

In [57]:
34.j * 4

136j

In [58]:
23.2 * 23.2

538.24

In [59]:
[2,4,9,3] * 3

[2, 4, 9, 3, 2, 4, 9, 3, 2, 4, 9, 3]

In [60]:
(2,3,4,9,3,3) * 3

(2, 3, 4, 9, 3, 3, 2, 3, 4, 9, 3, 3, 2, 3, 4, 9, 3, 3)

Multiplication works sets and tuples but not on sets  and dictionaries

# DIVISION ARITHEMATIC OPERATOR

In [61]:
x/y # True division / normal division

1.6666666666666667

In [62]:
x//y # Integer division / floor division

1

In [63]:
(2.23 + 43j) / 2

(1.115+21.5j)

In [64]:
# (2.23 + 43j) // 2 throws error

In [66]:
x % y # modulus  divide karne par what you get is modulus

2

# POWER ARITHEMATIC OPERATOR

In [67]:
2 ** 3

8

In [70]:
33.234 ** 3

36706.911656904005

In [76]:
True ** False

1

In [77]:
False ** True

0

# RELATIONAL OPERATORS

In [78]:
3 == 3

True

In [81]:
'Hello' == 'hello'

False

In [82]:
0 == False

True

In [83]:
[2,3,2,1] == [2,3,2,1]

True

In [84]:
3 !=  2

True

In [86]:
'Hello' != 'hello'

True

In [92]:
print(3 > 1)
print(3 < 1)
print(3 != 1)

True
False
True

In [93]:
[1,2,3 ]>[1,2,3 ]

False

In [94]:
[2,3,4]>[2,3,6]

False

In [97]:
[2,3,5]>[1,4,5]
# here since 2 > 1 is true python stops for looking other elements in the list

True

This is lexicographical comparison 
where python checks every corresponding values from the lists

[1,2,3]>[1,2,3] 

if 1 == 1 , it moves to 2nd element , if 2 == 2 , then it moves to 3rd , if 3 == 3

then python returns False

In [98]:
(2,3,5)>(1,4,5)

True

In [99]:
[2,3,4]>[2,3,6]

False

In [102]:
# there are following operators in Relational/Comparison operators
# < , > , == , != , <= , >= ,

# LOGICAL OPERATORS

AND 
OR 
NOT

In [103]:
x = True
y = False